<div id="wrapper">
    <div id="logo" class="circle">
      <p>Boris Tsejtlin:<br/>
      Web Developer</p>
    </div>
    <div class=' circle deg0'>
      <p class='icon-user' ></p> <p class='desc' >Info</p>
    </div>
    <div class=' circle deg180'>
        <p class='icon-newspaper'></p> <p class='desc'>Blog</p>
    </div>
    <div class=' circle deg225'>
         <p class='icon-cogs'></p> <p class='desc'>Experiments</p>
    </div>
    <div class=' circle deg315'>
         <p class='icon-images'></p> <p class='desc'>Projects</p>
    </div>
    <div id="lines"></div>
</div>