<div id="wrapper">
    <div id="logo" class="circle">
      <p>Boris Tsejtlin:<br/>
      Web Developer</p>
    </div>
    <a href="<%=info_path%>">
      <div class=' circle deg0'>
       
        <p class="icon-user" ></p> <p class="desc " style="right:-50px;">Info</p>
      
      </div>
    </a>
    <a href="<%=contact_path%>">
      <div class=' circle deg180'>
      
          <p class='icon-newspaper'></p> <p class='desc ' style="left:-50px;">Blog</p>
       
      </div>
    </a>
    <a href="<%=experiments_path%>">
    <div class=' circle deg225'>
         <p class='icon-cogs'></p> <p class='desc  ' style="left:-120px;">Experiments</p>
    </div>
    </a>
    <a href="<%=projects_path%>">
      <div class=' circle deg315'>
        <p class='icon-images'></p> <p class='desc ' style="right:-85px;">Projects</p>
        
      </div>
    </a>
    <div id="lines"></div>
</div>