<div id="wrapper">
    <div id="logo" class="circle">
        <p>Boris</p>
    </div>
    <div class=' circle deg0'>
        <p class='icon'>I</p> <p class='desc' >Info</p>
    </div>
    <div class=' circle deg45'>
         <p class='icon'>V</p> <p class='desc'>VODKA</p>
    </div>
    <div class=' circle deg135'>
         <p class='icon'>V</p> <p class='desc'>VODKA</p>
    </div>
    <div class=' circle deg180'>
        <p class='icon'>V</p> <p class='desc'>VODKA</p>
    </div>
    <div class=' circle deg225'>
         <p class='icon'>V</p> <p class='desc'>VODKA</p>
    </div>
    <div class=' circle deg315'>
         <p class='icon'>M</p> <p class='desc'>MATRYOSHKA</p>
    </div>
    <div id="lines"></div>
</div>