
#wrapper {
    position:relative;
    width:32em;
    height:32em;
    border-radius:50%;
    
    margin:0 0 0 32em;
    
}
#wrapper a {
   text-decoration:none; 
}
#logo {
    width:12em;
    height:12em;
    margin:-6em;
}
.circle:hover, .circle p:hover {


}
.circle {
    position:absolute;
    top:50%;
    left:50%;
    width: 4em;
    height: 4em;
    margin:-2em;
    border-radius:50%;
    border:5px solid #edeaea;
    text-align:center;
    cursor:pointer;
}
.circle p {
    color:black;
    font-weight:bold;
    font-size:15pt;
}
.circle .desc {
    display:none;
    position:absolute;
    top:0;

    color:black;
}

.deg0 {
    transform: translate(16em);
}
/* 12em = half the width of the wrapper */
 .deg45 {
    transform: rotate(45deg) translate(16em) rotate(-45deg);
}
.deg135 {
    transform: rotate(135deg) translate(16em) rotate(-135deg);
}
.deg180 {
    transform: translate(-16em);
}
.deg225 {
    transform: rotate(225deg) translate(16em) rotate(-225deg);
}
.deg315 {
    transform: rotate(315deg) translate(16em) rotate(-315deg);
}

